<form ng-submit="vm.saveTreatmentPlan()" name="saveTreatmentPlanForm" class="form-horizontal form-group-sm">
    <fieldset ng-repeat="form in vm.form.data">
        <legend>{{form.name_section}}</legend>
        <div class="form-group" ng-repeat="question in form.questions">
            <label for="{{question.model}}Id" class="col-sm-2 control-label">{{question.name}}</label>
            <div class="col-sm-10">
                <textarea type="text" id="{{question.model}}Id"
                          required
                          ng-model="vm.response.question[question.model]"
                          placeholder="{{question.name}}" class="form-control">
                </textarea>
            </div>
        </div>
    </fieldset>
    <div class="form-group">
        <div class="btn-group pull-left">
            <button type="button" class="btn btn-success">Anterior</button>
        </div>
        <div class="btn-group pull-right">
                <button ng-if="vm.mode_edition" type="submit" class="btn-wizard btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    Actualizar
                </button>
                <button ng-if="!vm.mode_edition" type="submit" class="btn-wizard btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                    Guardar
                </button>
                <button type="button" ng-click="vm.assignSupervisor()" class="btn btn-success">Finalizar</button>
        </div>
    </div>
</form>
