<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{vm.profile.name}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

        <ul class="nav navbar-nav">
            <li class="active"><a ui-sref="app.pacients">Pacientes</a></li>
            <li><a href="#">Link</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="app.controlsheet">Planilla de control</a></li>
                    <li><a ui-sref="app.pacient">Registrar paciente</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="app.landing" ng-if="vm.$auth.isAuthenticated()" ng-click="vm.logout()">Logout</a></li>
            <li><a ui-sref="app.register" ng-if="!vm.$auth.isAuthenticated()">Register</a></li>
            <li><a ui-sref="app.login" ng-if="!vm.$auth.isAuthenticated()">Log In</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
