<a ng-click="vm.openFormPacient()" class="btn btn-sm btn-success">
    CREATE
</a>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Paciente</th>
        <th>Derivado por</th>
        <th>Motivo</th>
        <th>Progreso</th>
        <th>#</th>
        <th>#</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in vm.pacients.data">
        <td>{{row.name}} {{row.last_name}}</td>
        <td>{{row.pacient.derivado_por}}</td>
        <td>{{row.pacient.motivo_consulta}}</td>
        <td>
            <div class="progress-radial progress-{{row.pacient.history_clinic.progress}}">
                <div class="overlay">{{row.pacient.history_clinic.progress}}%</div>
            </div>
        </td>
        <td>
            <a ng-if="row.pacient.history_clinic.completed=='COMPLETED'" ng-click="vm.openControlSheetPacient(row)">
                <icon-umss icon="interface" size="umss-icon-2X"></icon-umss>
            </a>
        </td>
        <td>
            <button ng-click="vm.viewHistoryClinic(row)" class="btn btn-link">
                <icon-umss icon="round" size="umss-icon-2X"></icon-umss>
            </button>
        </td>
    </tr>
    </tbody>
</table>
