<a ng-click="vm.openFormPacient()" class="btn btn-sm btn-success">create</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Paciente</th>
        <th>Derivado por</th>
        <th>Motivo</th>
        <th>#</th>
        <th>#</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in vm.pacients.data">
        <td>{{row.name}} {{row.last_name}}</td>
        <td>{{row.pacient.derivado_por}}</td>
        <td>{{row.pacient.motivo_consulta}}</td>
        <td>
            <a ui-sref="app.controlsheet({pacientId:row.id})" class="btn btn-link"><i class="fa fa-lg fa-list-alt "></i></a>
        </td>
        <td>
            <button ng-click="vm.viewHistoryClinic(row)" class="btn btn-link"><i class="fa fa-lg fa-eye "></i></button>
        </td>
    </tr>
    </tbody>
</table>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        aaaaa
        <h4>Selected: <small><code>{{ selected.item }}</code></small></h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="mvm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="mvm.cancel()">Cancel</button>
    </div>
</script>
