<div>
    <form ng-submit="vm.savePacient()" name='pacientForm' class="form-horizontal form-group-sm">
        <fieldset>
            <legend>Registrar Paciente</legend>
            <input type="hidden" name="id" ng-model="vm.pacient.id">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nombres</label>
                <div class="col-sm-10">
                    <input type="text" id="name"
                           name="name"
                           validation="min_len:3|required"
                           ng-model="vm.pacient.name" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="lastNameId" class="col-sm-2 control-label">Apellidos</label>
                <div class="col-sm-10">
                    <input type="text" id="lastNameId"
                           name="last_name"
                           ng-model="vm.pacient.last_name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <div class="row">
                        <label class="col-sm-12 control-label">Fecha Nac. / Genero</label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <!--uib-datepicker-popup is-open="vm.status.opened"
                                       close-text="Close"-->
                                <input type="text" ng-model="vm.pacient.age"
                                       name="age"
                                       validation="date_iso|required"
                                       class="form-control">
                                <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar" ng-click="vm.open($event)"></i>
                            </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <select name="gender" id="genderId"
                                    required
                                    ng-model="vm.pacient.gender" class="form-control">
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                                <option value="OTHER">Other</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="addreesId" class="col-sm-2 control-label">Domicilio Particular</label>
                <div class="col-sm-10">
                    <input type="text" id="addreesId"
                           required
                           ng-model="vm.pacient.address" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="phoneId" class="col-sm-2 control-label">Telefono</label>
                <div class="col-sm-10">
                    <input type="text" id="phoneId"
                           ng-model="vm.pacient.telefono" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="phoneMobileId" class="col-sm-2 control-label">Celular</label>
                <div class="col-sm-10">
                    <input type="text" id="phoneMobileId"
                           ng-model="vm.pacient.celular" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="odontologoId" class="col-sm-2 control-label">Odontologo Familiar</label>
                <div class="col-sm-10">
                    <input type="text" id="odontologoId"
                           ng-model="vm.pacient.odontologo" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="derivedById" class="col-sm-2 control-label">Derivado por</label>
                <div class="col-sm-10">
                    <input type="text" id="derivedById"
                           required
                           ng-model="vm.pacient.pacient.derivado_por" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="motivoConsultaId" class="col-sm-2 control-label">Motivo Consulta</label>
                <div class="col-sm-10">
                    <input type="text" id="motivoConsultaId"
                           required
                           ng-model="vm.pacient.pacient.motivo_consulta" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div ng-if="!vm.mode_edition" class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success pull-right">
                        Guardar
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </button>
                </div>
                <div ng-if="vm.mode_edition" class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success pull-right">
                        Actualizar
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
